In [34]:
import pandas as pd

In [20]:
input_csv_file = '../../../data/raw/data_acquisition/extraction_datasets/discussions.csv'
discussions = pd.read_csv(input_csv_file)
discussions.head(3)

,id_dataset,title_dataset,description_dataset,organization,url_dataset,nb_discussions,nb_followers,nb_reuses,nb_views,remote_id
0,64fd08e906c256acd1ae9c00,Points d'apport volontaire - Verre,La Communauté de Communes organise la collecte...,Occitanie Pyrénées en Intelligence Géomatique,https://www.data.gouv.fr/fr/datasets/sync-6110...,0,0,0,2,26e4ad2e-6a50-4dc1-84e7-444c281cdb64
1,64fd08e9253e0e1416ae9bff,Zones d'activités économiques intercommunales,Zones d’activités économiques intercommunales ...,Occitanie Pyrénées en Intelligence Géomatique,https://www.data.gouv.fr/fr/datasets/sync-6110...,0,0,0,2,4209854d-f02e-421a-b882-8669b9f31975
2,64fd08e9ed763c6f46ae9bff,Occupation du sol 2018,Base de données d'Occupation du sol du territo...,Occitanie Pyrénées en Intelligence Géomatique,https://www.data.gouv.fr/fr/datasets/sync-6135...,0,0,0,2,ea6144b6-d2ce-4aa7-8ed0-ac09fc81096d

In [19]:
discussions.shape

(48923, 10)

In [17]:
discussions.isna().sum()

id_dataset                 0
title_dataset              0
description_dataset      472
organization            3373
url_dataset                0
nb_discussions             0
nb_followers               0
nb_reuses                  0
nb_views                   0
remote_id              30364
dtype: int64

In [35]:
input_csv_file = '../../../data/raw/data_acquisition/extraction_discussions/datasets.csv'
datasets = pd.read_csv(input_csv_file)
datasets.head(3)

,id_discussion,id_dataset,title_discussion,user,message,created,closed,posted_on
0,64fee6b8a90afb1f587b766d,5de8f397634f4164071119c5,Décès des nouveaux-nés,Thomas PJ,"Bonjour à tous,\n\nAprès exploration des fichi...",11/09/2023,NaN,2023-09-11T10:06:48.524000+00:00
1,64fed88663dda0863ebd1746,58d8d8a0c751df17537c66be,Pyrénées Atlantique,Hélène Grosbois,"Bonjour,\nIl y n'y a que les Pyrennées Atlanti...",11/09/2023,NaN,2023-09-11T09:06:14.163000+00:00
2,64fed88663dda0863ebd1746,58d8d8a0c751df17537c66be,Pyrénées Atlantique,Hélène Grosbois,"Je me suis trompée de page, je parle du fichie...",11/09/2023,NaN,2023-09-11T09:07:52.833000+00:00

In [36]:
datasets.shape

(31348, 8)

In [37]:
datasets.isna().sum()

id_discussion           0
id_dataset              0
title_discussion        0
user                    0
message                 0
created                 0
closed              25138
posted_on               0
dtype: int64

In [ ]:
input_csv_file = '../../../data/raw/data_acquisition/merging_data/merged_data.csv'
df_merged = pd.read_csv(input_csv_file)
df_merged.head(3)

In [ ]:
df_merged.shape

In [ ]:
df_merged.isna().sum()

In [28]:
input_csv_file = '../../../data/raw/data_acquisition/merging_data/dataset_mefsin.csv'
mefsin = pd.read_csv(input_csv_file)
mefsin.head(3)

,id_discussion,id_dataset,title_discussion,user,message,created,closed,title_dataset,description_dataset,organization,url_dataset,nb_discussions,nb_followers,nb_reuses,nb_views,remote_id
0,5566b28754b314fff698bbc6,5369965fa3a729239d204999,La première ressource est inaccessible,Romain Tales,"Bonjour,\n\nLa première ressource est inaccess...",22/09/2014,NaN,Impôts locaux,Vous pouvez consulter les taux votés ainsi que...,"Ministère de l'Économie, des Finances et de la...",https://www.data.gouv.fr/fr/datasets/impots-lo...,8,15,6,8198,impots-locaux0
1,5566b28a54b314fff698bd11,5369965fa3a729239d204999,La 1ère source est toujours inaccessible,Mahdi Ben Jelloul,La 1ère source est toujours inaccessible ...,22/05/2015,NaN,Impôts locaux,Vous pouvez consulter les taux votés ainsi que...,"Ministère de l'Économie, des Finances et de la...",https://www.data.gouv.fr/fr/datasets/impots-lo...,8,15,6,8198,impots-locaux0
2,5b6be927634f4115c523bfef,5369965fa3a729239d204999,Taux d'imposition Impot locaux 2018,Anne Roulleau,"Bonjour,\nJ'aimerai savoir si les taux pour le...",09/08/2018,NaN,Impôts locaux,Vous pouvez consulter les taux votés ainsi que...,"Ministère de l'Économie, des Finances et de la...",https://www.data.gouv.fr/fr/datasets/impots-lo...,8,15,6,8198,impots-locaux0

In [30]:
mefsin.shape

(548, 16)

In [29]:
mefsin.isna().sum()

id_discussion            0
id_dataset               0
title_discussion         0
user                     0
message                  0
created                  0
closed                 418
title_dataset            0
description_dataset      0
organization             0
url_dataset              0
nb_discussions           0
nb_followers             0
nb_reuses                0
nb_views                 0
remote_id              239
dtype: int64

In [ ]:
mefsin.columns()