In [22]:
import pandas as pd

In [23]:
# Configurez les options d'affichage pandas pour afficher toutes les colonnes
pd.set_option('display.max_columns', None)

In [24]:
input_csv_file = '../../../data/raw/data_acquisition/extraction_discussions/discussions.csv'
discussions = pd.read_csv(input_csv_file)
discussions.head(3)

,id_discussion,id_dataset,title_discussion,user,message,created,closed,posted_on
0,64fee6b8a90afb1f587b766d,5de8f397634f4164071119c5,Décès des nouveaux-nés,Thomas PJ,"Bonjour à tous,\n\nAprès exploration des fichi...",11/09/2023,NaN,2023-09-11T10:06:48.524000+00:00
1,64fed88663dda0863ebd1746,58d8d8a0c751df17537c66be,Pyrénées Atlantique,Hélène Grosbois,"Bonjour,\nIl y n'y a que les Pyrennées Atlanti...",11/09/2023,NaN,2023-09-11T09:06:14.163000+00:00
2,64fed88663dda0863ebd1746,58d8d8a0c751df17537c66be,Pyrénées Atlantique,Hélène Grosbois,"Je me suis trompée de page, je parle du fichie...",11/09/2023,NaN,2023-09-11T09:07:52.833000+00:00

In [25]:
discussions.shape

(31348, 8)

In [26]:
discussions.isna().sum()

id_discussion           0
id_dataset              0
title_discussion        0
user                    0
message                 0
created                 0
closed              25138
posted_on               0
dtype: int64

In [27]:
input_csv_file = '../../../data/raw/data_acquisition/extraction_datasets/datasets.csv'
datasets = pd.read_csv(input_csv_file)
datasets.head(3)

,id_dataset,title_dataset,description_dataset,organization,url_dataset,nb_discussions,nb_followers,nb_reuses,nb_views,remote_id,created_dataset,last_update_dataset
0,65027775acc06e685cc02c1a,Courbes de niveaux sur Rennes Métropole,Couche de lignes représentant les isohypses ré...,Rennes Métropole en accès libre,https://www.data.gouv.fr/fr/datasets/courbes-d...,0,0,0,0,courbes_niveau,2023-09-14T03:01:09.292000+00:00,2023-09-14T03:01:09.303000+0000
1,650250323b49a88a6fd5331d,Compte administratif (CA) 2022 de Nantes Métro...,Compte administratif 2022 du budget principal ...,Nantes Métropole,https://www.data.gouv.fr/fr/datasets/compte-ad...,0,0,0,2,compte-administratif-ca-2022-de-nantes-metropole,2023-09-14T00:13:38.552000+00:00,2023-09-14T00:13:38.560000+0000
2,6502502d2c2119f4f7c02c1a,Budget primitif (BP) 2023 de Nantes Métropole,Budget primitif 2023 du budget principal de Na...,Nantes Métropole,https://www.data.gouv.fr/fr/datasets/budget-pr...,0,0,0,0,budget-primitif-bp-2023-de-nantes-metropole,2023-09-14T00:13:33.847000+00:00,2023-09-14T00:13:33.856000+0000

In [28]:
datasets.shape

(48900, 12)

In [29]:
datasets.isna().sum()

id_dataset                 0
title_dataset              0
description_dataset      472
organization            3374
url_dataset                0
nb_discussions             0
nb_followers               0
nb_reuses                  0
nb_views                   0
remote_id              30384
created_dataset            0
last_update_dataset        0
dtype: int64

In [30]:
input_csv_file = '../../../data/raw/data_acquisition/merging_data/merged_data.csv'
df_merged = pd.read_csv(input_csv_file)
df_merged.head(3)

,id_discussion,id_dataset,title_discussion,user,message,created,closed,posted_on,title_dataset,description_dataset,organization,url_dataset,nb_discussions,nb_followers,nb_reuses,nb_views,remote_id,created_dataset,last_update_dataset
0,64fee6b8a90afb1f587b766d,5de8f397634f4164071119c5,Décès des nouveaux-nés,Thomas PJ,"Bonjour à tous,\n\nAprès exploration des fichi...",11/09/2023,NaN,2023-09-11T10:06:48.524000+00:00,Fichier des personnes décédées,**Les fichiers nominatifs diffusés ici ne sont...,Institut National de la Statistique et des Etu...,https://www.data.gouv.fr/fr/datasets/fichier-d...,114,135,33,5169,NaN,2019-12-05T13:09:59.495000+00:00,2023-09-05T05:41:05.292000+0000
1,64f6f220aef7b0a918c13b9a,5de8f397634f4164071119c5,prise en compte de l'article 85,alain LOUERA,bonjour\nj'ai reçu par mail une demande de mas...,05/09/2023,NaN,2023-09-05T09:17:20.892000+00:00,Fichier des personnes décédées,**Les fichiers nominatifs diffusés ici ne sont...,Institut National de la Statistique et des Etu...,https://www.data.gouv.fr/fr/datasets/fichier-d...,114,135,33,5169,NaN,2019-12-05T13:09:59.495000+00:00,2023-09-05T05:41:05.292000+0000
2,64f6f220aef7b0a918c13b9a,5de8f397634f4164071119c5,prise en compte de l'article 85,alain LOUERA,et une autre question sur ce fichier des oppos...,05/09/2023,NaN,2023-09-05T09:20:26.618000+00:00,Fichier des personnes décédées,**Les fichiers nominatifs diffusés ici ne sont...,Institut National de la Statistique et des Etu...,https://www.data.gouv.fr/fr/datasets/fichier-d...,114,135,33,5169,NaN,2019-12-05T13:09:59.495000+00:00,2023-09-05T05:41:05.292000+0000

In [31]:
df_merged.shape

(28488, 19)

In [32]:
df_merged.isna().sum()

id_discussion              0
id_dataset                 0
title_discussion           0
user                       0
message                    0
created                    0
closed                 22867
posted_on                  0
title_dataset              0
description_dataset       27
organization            1724
url_dataset                0
nb_discussions             0
nb_followers               0
nb_reuses                  0
nb_views                   0
remote_id              25847
created_dataset            0
last_update_dataset        0
dtype: int64

In [33]:
nans_organization = df_merged[df_merged['organization'].isna()]
nans_organization

,id_discussion,id_dataset,title_discussion,user,message,created,closed,posted_on,title_dataset,description_dataset,organization,url_dataset,nb_discussions,nb_followers,nb_reuses,nb_views,remote_id,created_dataset,last_update_dataset
1232,64f59267f92c97ff042b7ad4,64df74f02685a92d2a6af81c,Modifications demandées pour un versement dans...,Sophie Clairet,Pour que le jeu de données soit versé dans la ...,04/09/2023,NaN,2023-09-04T08:16:39.812000+00:00,Adressage Villeneuve,Numérotation des rues de Villeneuve,NaN,https://www.data.gouv.fr/fr/datasets/adressage...,1,0,0,0,NaN,2023-08-18T13:41:04.601000+00:00,2023-08-18T13:41:04.601000+0000
1233,64f58acaa9c64b26defbf027,64f1bb5b93c9eeb80a74b4b7,Modifications demandées pour un versement de l...,Sophie Clairet,Pour que le jeu de données soit versé dans la ...,04/09/2023,NaN,2023-09-04T07:44:10.424000+00:00,Mise à jour adresses - aout 2023,Fichier d'adressage postal de Pont de Barret m...,NaN,https://www.data.gouv.fr/fr/datasets/mise-a-jo...,1,0,0,0,NaN,2023-09-01T10:22:19.240000+00:00,2023-09-01T10:22:19.240000+0000
7396,64b92862e67580c97cf81566,56124ddc88ee384b89a80559,Intégration des données dans le fichier consol...,Cyril Morin,"Bonjour David,\nJe vous invite à nous contacte...",20/07/2023,21/07/2023,2023-07-20T12:28:18.096000+00:00,Réseau Alterbase (IRVE),Réseau public de bornes de recharge dans le dé...,NaN,https://www.data.gouv.fr/fr/datasets/reseau-al...,0,5,1,2,NaN,2015-10-05T12:15:56.004000+00:00,2023-09-14T07:24:36.634000+0000
7397,64b92862e67580c97cf81566,56124ddc88ee384b89a80559,Intégration des données dans le fichier consol...,Cyril Morin,"Bonjour Cyril,\nMerci pour toutes ces informat...",20/07/2023,21/07/2023,2023-07-21T07:21:59.643000+00:00,Réseau Alterbase (IRVE),Réseau public de bornes de recharge dans le dé...,NaN,https://www.data.gouv.fr/fr/datasets/reseau-al...,0,5,1,2,NaN,2015-10-05T12:15:56.004000+00:00,2023-09-14T07:24:36.634000+0000
7398,5e1c150b8b4c412b3bcabae2,56124ddc88ee384b89a80559,Adresses erronnées,Noémie Lehuby,"Bonjour,\n\nLe fichier contient quelques stati...",13/01/2020,25/07/2023,2020-01-13T07:58:19.386000+00:00,Réseau Alterbase (IRVE),Réseau public de bornes de recharge dans le dé...,NaN,https://www.data.gouv.fr/fr/datasets/reseau-al...,0,5,1,2,NaN,2015-10-05T12:15:56.004000+00:00,2023-09-14T07:24:36.634000+0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28454,5566b28754b314fff698bc16,5369a308a3a729239d206988,Pas de données,Henri Verdier,Pas de données,01/04/2014,NaN,2014-04-01T09:38:52.268000+00:00,"Triez, vous serez récompensé !",\r\nBouillac met en place une politique de tri...,NaN,https://www.data.gouv.fr/fr/datasets/triez-vou...,2,0,0,0,NaN,2014-04-01T07:29:23.756000+00:00,2014-11-05T02:04:25.567000+0000
28462,5566b28754b314fff698bc04,536990bea3a729239d203aa2,pourriez-vous svp préciser la licence applicab...,Simon Chignard,"Bonjour, pourriez-vous svp préciser la licence...",20/03/2014,NaN,2014-03-20T16:55:27.875000+00:00,Classement des institutions de formation par n...,Un classement des institutions de formation mo...,NaN,https://www.data.gouv.fr/fr/datasets/classemen...,1,0,1,3,NaN,2013-09-06T10:08:39.247000+00:00,2014-01-07T14:54:04.981000+0000
28466,5566b28754b314fff698bbfa,5369a225a3a729239d206786,J'effectue ce signalement car j'ai créé une re...,Morgan Capon,"Bonjour,\nJ'effectue ce signalement car j'ai c...",23/02/2014,NaN,2014-02-23T14:14:10.416000+00:00,Test test test,Testtest test test,NaN,https://www.data.gouv.fr/fr/datasets/test-test...,2,0,0,0,NaN,2014-02-23T13:04:13.575000+00:00,2014-11-05T02:04:25.704000+0000
28473,5566b28754b314fff698bbef,5369937ea3a729239d2041e9,Très intéressant dataset ! Merci Sabine et Julien,Simon Chignard,Très intéressant dataset ! Merci Sabine et Jul...,07/02/2014,NaN,2014-02-07T16:51:53.574000+00:00,Elections,Jeux sur les élections françaises.,NaN,https://www.data.gouv.fr/fr/datasets/elections/,1,0,0,113,NaN,2014-02-07T13:39:14.379000+00:00,2014-02-28T10:00:23.492000+0000
28475,5566b28754b314fff698bbee,53699dfca3a729239d205d7f,Les données mentionnées ne sont pas des donnée...,Simon Chignard,Les données mentionnées ne sont pas des donnée...,03/02/2014,NaN,2014-02-03T18:15:15.594000+00:00,Procès-verbaux des séances publiques du Consei...,PV et feuilles des votes validés par l'Assembl...,NaN,https://www.data.gouv.fr/fr/datasets/proces-ve...,1,0,0,1,NaN,2014-01-29T14:47:34.530000+00:00,2014-01-29T14:50:39.077000+0000

In [34]:
input_csv_file = '../../../data/raw/data_acquisition/merging_data/dataset_mefsin.csv'
mefsin = pd.read_csv(input_csv_file)
mefsin.head(3)

,id_discussion,id_dataset,title_discussion,user,message,created,closed,posted_on,title_dataset,description_dataset,organization,url_dataset,nb_discussions,nb_followers,nb_reuses,nb_views,remote_id,created_dataset,last_update_dataset
0,64f87fc80c0e2957e74b574c,5a576fda88ee381c9d4e3304,Doublon ?,Marianne MARTIN,"Bonjour, \nJe recherche les parcelles ascendan...",06/09/2023,NaN,2023-09-06T13:34:00.844000+00:00,Documents de filiation informatisés (DFI) des ...,Les fichiers départementaux des documents de f...,"Ministère de l'Économie, des Finances et de la...",https://www.data.gouv.fr/fr/datasets/documents...,4,14,2,532,documents-de-filiation-informatises-dfi-des-pa...,2018-01-11T15:08:26.372000+00:00,2023-09-13T09:04:58.310000+0000
1,64f87fc80c0e2957e74b574c,5a576fda88ee381c9d4e3304,Doublon ?,Marianne MARTIN,"Bonjour,\nIl existe en effet deux parcelles AV...",06/09/2023,NaN,2023-09-08T07:33:15.910000+00:00,Documents de filiation informatisés (DFI) des ...,Les fichiers départementaux des documents de f...,"Ministère de l'Économie, des Finances et de la...",https://www.data.gouv.fr/fr/datasets/documents...,4,14,2,532,documents-de-filiation-informatises-dfi-des-pa...,2018-01-11T15:08:26.372000+00:00,2023-09-13T09:04:58.310000+0000
2,613878e1ee5f152d7a2b732b,5a576fda88ee381c9d4e3304,"Parcelle AV 218, Commune Eguiiles, 13510",Peter Theokritoff,Bonjour\nComment puis je savoir ce qui est adv...,08/09/2021,NaN,2021-09-08T10:48:33.768000+00:00,Documents de filiation informatisés (DFI) des ...,Les fichiers départementaux des documents de f...,"Ministère de l'Économie, des Finances et de la...",https://www.data.gouv.fr/fr/datasets/documents...,4,14,2,532,documents-de-filiation-informatises-dfi-des-pa...,2018-01-11T15:08:26.372000+00:00,2023-09-13T09:04:58.310000+0000

In [35]:
mefsin.shape

(1284, 19)

In [36]:
mefsin.isna().sum()

id_discussion            0
id_dataset               0
title_discussion         0
user                     0
message                  0
created                  0
closed                 834
posted_on                0
title_dataset            0
description_dataset      0
organization             0
url_dataset              0
nb_discussions           0
nb_followers             0
nb_reuses                0
nb_views                 0
remote_id              589
created_dataset          0
last_update_dataset      0
dtype: int64

In [37]:
mefsin.columns

Index(['id_discussion', 'id_dataset', 'title_discussion', 'user', 'message',
       'created', 'closed', 'posted_on', 'title_dataset',
       'description_dataset', 'organization', 'url_dataset', 'nb_discussions',
       'nb_followers', 'nb_reuses', 'nb_views', 'remote_id', 'created_dataset',
       'last_update_dataset'],
      dtype='object')

In [38]:
nans_remote_id = mefsin[mefsin['remote_id'].isna()]
nans_remote_id

,id_discussion,id_dataset,title_discussion,user,message,created,closed,posted_on,title_dataset,description_dataset,organization,url_dataset,nb_discussions,nb_followers,nb_reuses,nb_views,remote_id,created_dataset,last_update_dataset
311,64e8707e6b3050d6b257e8a1,5cd57bf68b4c4179299eb0e9,Fichier européen,Benjamin Schick,"Bonjour, \n\nLa plateforme TED (ted.europa.eu)...",25/08/2023,NaN,2023-08-25T09:12:30.164000+00:00,Données essentielles de la commande publique -...,[L’arrêté du 14 avril 2017](https://www.legifr...,"Ministère de l'Économie, des Finances et de la...",https://www.data.gouv.fr/fr/datasets/donnees-e...,14,11,6,6102,NaN,2019-05-10T15:26:14.659000+00:00,2023-09-07T23:56:41.914284+0000
312,64e8707e6b3050d6b257e8a1,5cd57bf68b4c4179299eb0e9,Fichier européen,Benjamin Schick,"Bonjour, je réponds à votre message avec un pe...",25/08/2023,NaN,2023-08-31T07:07:23.831000+00:00,Données essentielles de la commande publique -...,[L’arrêté du 14 avril 2017](https://www.legifr...,"Ministère de l'Économie, des Finances et de la...",https://www.data.gouv.fr/fr/datasets/donnees-e...,14,11,6,6102,NaN,2019-05-10T15:26:14.659000+00:00,2023-09-07T23:56:41.914284+0000
313,64e8707e6b3050d6b257e8a1,5cd57bf68b4c4179299eb0e9,Fichier européen,Benjamin Schick,"Bonjour, \n\nMerci pour votre retour. Il sembl...",25/08/2023,NaN,2023-08-31T07:56:43.589000+00:00,Données essentielles de la commande publique -...,[L’arrêté du 14 avril 2017](https://www.legifr...,"Ministère de l'Économie, des Finances et de la...",https://www.data.gouv.fr/fr/datasets/donnees-e...,14,11,6,6102,NaN,2019-05-10T15:26:14.659000+00:00,2023-09-07T23:56:41.914284+0000
314,64807d71c98d474a8a88bc39,5cd57bf68b4c4179299eb0e9,Données des contrats de concession,Mylène Mahéo,"Bonjour,\npourquoi les données des contrats de...",07/06/2023,NaN,2023-06-07T12:52:01.118000+00:00,Données essentielles de la commande publique -...,[L’arrêté du 14 avril 2017](https://www.legifr...,"Ministère de l'Économie, des Finances et de la...",https://www.data.gouv.fr/fr/datasets/donnees-e...,14,11,6,6102,NaN,2019-05-10T15:26:14.659000+00:00,2023-09-07T23:56:41.914284+0000
315,6437e688707c5ce72ecb501a,5cd57bf68b4c4179299eb0e9,Données publiées via l'AIFE manquantes,Mylène Mahéo,"Bonjour,\nle Profil acheteur achatpublic.com p...",13/04/2023,NaN,2023-04-13T13:24:56.689000+00:00,Données essentielles de la commande publique -...,[L’arrêté du 14 avril 2017](https://www.legifr...,"Ministère de l'Économie, des Finances et de la...",https://www.data.gouv.fr/fr/datasets/donnees-e...,14,11,6,6102,NaN,2019-05-10T15:26:14.659000+00:00,2023-09-07T23:56:41.914284+0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1275,5820bf4ec751df1c05c0bb7f,543bf17f88ee3805983c164d,Mise à jour plus récente?,Jérémy FLEURISSON,"Bonjour,\nEst-il prévu prochainement une mise ...",07/11/2016,NaN,2016-11-07T18:52:14.334000+00:00,Données d' exécution budgétaire des collectivi...,Données qui retracent les charges de fonctionn...,"Ministère de l'Économie, des Finances et de la...",https://www.data.gouv.fr/fr/datasets/donnees-d...,1,4,0,4,NaN,2014-10-13T17:36:31.636000+00:00,2014-10-14T17:38:43.823000+0000
1276,5820bf4ec751df1c05c0bb7f,543bf17f88ee3805983c164d,Mise à jour plus récente?,Jérémy FLEURISSON,"Bonjour,\nles données récentes d'exécution des...",07/11/2016,NaN,2016-11-08T09:09:37.555000+00:00,Données d' exécution budgétaire des collectivi...,Données qui retracent les charges de fonctionn...,"Ministère de l'Économie, des Finances et de la...",https://www.data.gouv.fr/fr/datasets/donnees-d...,1,4,0,4,NaN,2014-10-13T17:36:31.636000+00:00,2014-10-14T17:38:43.823000+0000
1277,5820bf4ec751df1c05c0bb7f,543bf17f88ee3805983c164d,Mise à jour plus récente?,Jérémy FLEURISSON,Merci pour cette précision.,07/11/2016,NaN,2016-11-08T10:32:22.382000+00:00,Données d' exécution budgétaire des collectivi...,Données qui retracent les charges de fonctionn...,"Ministère de l'Économie, des Finances et de la...",https://www.data.gouv.fr/fr/datasets/donnees-d...,1,4,0,4,NaN,2014-10-13T17:36:31.636000+00:00,2014-10-14T17:38:43.823000+0000
1278,5820bf4ec751df1c05c0bb7f,543bf17f88ee3805983c164d,Mise à jour plus récente?,Jérémy FLEURISSON,"Sauf erreur de ma part, dans le jeu de données...",07/11/2016,NaN,2016-11-08T10:49:41.172000+00:00,Données d' exécution budgétaire des collectivi...,Données qui retracent les charges de fonctionn...,"Ministère de l'Économie, des Finances et de la...",https://www.data.gouv.fr/fr/datasets/donnees-d...,1,4,0,4,NaN,2014-10-13T17:36:31.636000+00:00,2014-10-14T17:38:43.823000+0000
1282,5566b28754b314fff698bc48,53698f45a3a729239d2036ca,Aucune ressource,Seb Robert,Aucune ressource,20/07/2014,NaN,2014-07-20T18:20:25.740000+00:00,BAROMETRE DES RECLAMATIONS DE LA DGCCRF - BILA...,La DGCCRF a mis en place à compter de juillet ...,"Ministère de l'Économie, des Finances et de la...",https://www.data.gouv.fr/fr/datasets/barometre...,2,1,0,0,NaN,2013-07-08T19:41:31.073000+00:00,2014-11-05T02:04:39.870000+0000

In [40]:
nans_remote_id.shape[0]

589

In [41]:
print(nans_remote_id['title_dataset'].iloc[0])

Données essentielles de la commande publique - fichiers consolidés

In [50]:
# Convertion de la colonne 'created_dataset' en datetime
mefsin['created_dataset'] = pd.to_datetime(mefsin['created_dataset'])

# Création d'une nouvelle colonne 'year' pour extraire l'année en utilisant .dt.year
mefsin['year'] = mefsin['created_dataset'].dt.year

# Effectuer la ventilation par année pour les valeurs de 'remote_id' égales à NaN
ventilation_nan = mefsin[mefsin['remote_id'].isna()]['year'].value_counts().reset_index()
ventilation_nan.columns = ['Année', 'Nombre de NaN']

# Effectuer la ventilation par année pour les valeurs de 'remote_id' différentes de NaN
ventilation_non_nan = mefsin[~mefsin['remote_id'].isna()]['year'].value_counts().reset_index()
ventilation_non_nan.columns = ['Année', 'Nombre de non-NaN']

# Fusionner les deux tableaux pour avoir une vue d'ensemble
res = pd.merge(ventilation_nan, ventilation_non_nan, on='Année', how='outer').fillna(0)
import pandas as pd

# Supposons que vous avez un DataFrame 'mefsin' avec la colonne 'created_dataset' et 'remote_id'

# Convertissez la colonne 'created_dataset' en datetime
mefsin['created_dataset'] = pd.to_datetime(mefsin['created_dataset'])

# Créez une nouvelle colonne 'year' pour extraire l'année en utilisant .dt.year
mefsin['year'] = mefsin['created_dataset'].dt.year

# Effectuez la ventilation par année pour les valeurs de 'remote_id' égales à NaN
ventilation_nan = mefsin[mefsin['remote_id'].isna()]['year'].value_counts().reset_index()
ventilation_nan.columns = ['Année', 'Nombre de NaN']

# Effectuez la ventilation par année pour les valeurs de 'remote_id' différentes de NaN
ventilation_non_nan = mefsin[~mefsin['remote_id'].isna()]['year'].value_counts().reset_index()
ventilation_non_nan.columns = ['Année', 'Nombre de non-NaN']

# Fusionnez les deux tableaux pour avoir une vue d'ensemble
res = pd.merge(ventilation_nan, ventilation_non_nan, on='Année', how='outer').fillna(0)
res_sorted = res.sort_values(by='Année', ascending=False)
res_sorted

    Année  Nombre de NaN  Nombre de non-NaN
10   2023            0.0                  2
9    2022            0.0                  3
6    2021            0.0                 89
8    2020            0.0                  9
0    2019          304.0                 42
4    2018           13.0                113
1    2017          167.0                 55
7    2016            0.0                 15
2    2015           51.0                 65
5    2014           10.0                 54
3    2013           44.0                248

In [52]:
df = pd.read_csv('remote_id.csv')

In [53]:
# Convertissez la colonne 'created_dataset' en datetime
df['created_dataset'] = pd.to_datetime(df['created_dataset'])

# Créez une nouvelle colonne 'year' pour extraire l'année en utilisant .dt.year
df['year'] = df['created_dataset'].dt.year

# Effectuez la ventilation par année
ventilation_par_annee = df['year'].value_counts().reset_index()
ventilation_par_annee.columns = ['Année', 'Nombre d\'occurrences']

print(ventilation_par_annee)

   Année  Nombre d'occurrences
0   2019                   304
1   2017                   167
2   2015                    51
3   2013                    44
4   2018                    13
5   2014                    10